%nopadding {
  @include unitize-padding(0);
}

%nomargin {
  @include unitize-margin(0);
}

%nomarginnopadding {
  @include unitize-padding(0);
  @include unitize-margin(0);
}

%width100 {
  width: 100%;
}

%height100 {
  height: 100%;
}

%autowidth {
  width: auto;
}

%autoheight {
  height: auto;
}

%floatleft {
  float: left;
}

%floatright {
  float: right;
}

%show {
  display: block;
}

%hide {
  display: none;
}

%noborder {
  border: none;
}

%positionabsolute {
  position: absolute;
}

%positionrelative {
  position: relative;
}

%defaultahref {
  color: $elegant-color-dark;
  text-decoration: none;
  @extend %noborder;
}
%norepeatbg {
  background-repeat: no-repeat;
}
%menuicons {
  @include size(20,20);
  content:"";
  display: inline-block;
  vertical-align: middle;
  @extend %norepeatbg;
}